.personalInformation {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 8px;
}

.personalTitle {
  font-family: sans-serif, Arial, Helvetica;
  width: 100%;
  margin-top: 5px;
}

.personalInformation > input {
  box-sizing: border-box;
  width: 49.2%;
  margin-bottom: 20px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 5px;
  font-family: "Inter", sans-serif;
}

.personalInformation > input + .long {
  width: 100%;
}

.personalInformation > textarea {
  margin-bottom: 20px;
  height: 80px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 5px;
  font-family: "Inter", sans-serif;
}
